body{
    overflow: hidden;
}

.notfound404{
    text-align: center;
}

.notfound404 h2{
	font-size: 2.5rem;
  padding: 2rem 0;
}

.notfound404 p{
	font-size: 1.8rem;
	padding: 2rem 0 5rem 0;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* Clip text element */
.clip-text {
    line-height: 1;
    position: relative;
    display: inline-block;
    padding: 5rem 0;
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	  font-size: 20vw;
	  font-weight: 900;
	  font-family: 'Oswald', sans-serif;
	  background-image: url(https://images-na.ssl-images-amazon.com/images/I/81kTrSqMuLL._SL1135_.jpg);
}

/* Use Background-size cover for photo background and no-repeat background */
.cover-404,
.cover-404:before {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% 50%;
}

@-webkit-keyframes galaxy {
  from {
    opacity: 0;
    -webkit-transform: scale3d(10, 10, 10);
    transform: scale3d(10, 10, 10);
  }

  50% {
    opacity: 1;
  }
}

@keyframes galaxy {
  from {
    opacity: 0;
    -webkit-transform: scale3d(10, 10, 10);
    transform: scale3d(10, 10, 10);
  }

  50% {
    opacity: 1;
  }
}

.galaxy {
  -webkit-animation-name: galaxy;
  animation-name: galaxy;
}

.animated.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}